body{
background-color: #0f1117;
text-align: center;
margin: 0px;
border: 0px;
padding: 0px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
width: 100%;
line-height: 1.5;
color: #e4e4e4;
display: block;
max-width:100% ;
box-sizing: border-box;
line-height: 1.5;
}
header{
   background-color: #1a1c25;
  padding: 10px;
   text-align: center;
  position: fixed;
  display: block;
   border-width: 1px;
   width: 100%;
   height: 5%;
   font-size: large;
   word-spacing: 1px;
    border-bottom:2px solid aqua;
}
  header p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: aqua;
 
 margin: 0;
 letter-spacing: 1px;
  }
      main{
   text-align: center;
   background-color:#0f1117 ;
 padding: 20px 0px;
 display: inline-block;
 
  }
  h1{
   color: aqua;
   text-align: center;
   font-size: 50px;
  }
  .section1 p{
   position: relative;
   color: #aaaaaa;
   text-align: center;
font-size: large;
  width: 100%;
  padding: 60px 40px auto;
  max-width: 800px;
  max-height: 75%;
  margin: auto;
text-transform: none;
  word-spacing: 2px;
  line-height:1.8em;
}
.paragraphe p{
   color: #e4e4e4;
}
  button {
background-color:aqua;
color: #000;
text-align: center;
border-radius: 10px;
height: 50PX;
display: block;
width:150px;
margin: 0px auto;

  }
  .button p{
   font: 1em sans-serif;
   padding: 0px;
   margin: 0px;
   border: 0px;
  text-align: center;
   font-weight: bolder;
   width: 90%;
   font-size: 2px;
  }

  .section2  {
   position: relative;
padding: 40px 20px;
margin:20px auto;
text-align: center;
   box-sizing: border-box;
   block-size: auto;
   display: flex;
  
  }
  .section2 p{
    display: block;
    box-sizing: border-box;
    width: auto;
    height: auto;
  }
  h2{
 color: aqua;
  }
  .date-prix p{
   color:#bbbbbb;
  }
 img{
   width: 90%;
   height: 30%;
   border-radius: 8px;
   padding: 1rem 0rem;
   margin: 0.5rem;
  }
  .carte1{
 position:relative;
   text-align: center;
   background-color:#1a1c25;
   box-sizing: border-box;
min-block-size: 0px;
   border-radius: 12px;
box-shadow:  0 0 10px #00f2ff22;
border: 1px solid #00f2ff33;
margin: 1.5rem;
width:18rem;
height: 29rem;

  }
  .carte2{
 position: relative;
   text-align: center;
      background-color:#1a1c25;
      box-sizing: border-box;
      border-radius: 12px;
box-shadow:  0 0 10px #00f2ff22;
border: 1px solid #00f2ff33;
margin: 1.5rem;
width:18rem;
height: 29rem;
  }
  .carte3{
 position: relative;
   text-align: center;
      background-color:#1a1c25;
   border-radius: 12px;
box-shadow:  0 0 10px #00f2ff22;
border: 1px solid #00f2ff33;
margin: 1.5rem;
width:18rem;
height: 29rem;

  }
  footer{
   background-color: #1a1c25;
  color: #bfb3b3;
   text-align: center;
  padding: 10px 20px;
  border: 0px;
   margin-top:1em ;
   height:1%;
  border-top: aqua;
  width: 100%;
 border-top:1px solid aqua;
}